
@using LTWEB2.Models

@model List<NhaSanXuat>

<div class="list-group">

    @foreach (NhaSanXuat c in Model)
    {
        <a href="@Url.Action("BySP","SanPham",new {id=c.NhaSanXuatID })" class="list-group-item">
            @c.TenNhaSanXuat

        </a>
    }
</div>