
@section view_title{
    Đổi mật khẩu
}
@section js {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $('#dangki').validate({
            rules: {
                PWD: {
                    required: true,
                    minlength: 8,
                },
                NEWPWD: {
                    required: true,
                    minlength: 8,
                },
                repeatpassword: {
                    required: true,
                    equalTo: $("[name = 'NEWPWD']")
                }



            },

            messages: {
                PWD: {
                    required: "Chưa nhập mật khẩu cũ",
                    minlength: jQuery.validator.format("Vui lòng nhập tối thiểu {0} kí tự")
                },

                NEWPWD: {
                    required: "Chưa nhập mật khẩu mới",
                    minlength: jQuery.validator.format("Vui lòng nhập tối thiểu {0} kí tự")
                },

                repeatpassword: {
                    required: "Chưa nhập lại mật khẩu mới",
                    equalTo: "Mật khẩu nhập lại không khớp"
                }
            },

             errorElement: 'span', //default input error message container
            errorClass: 'help-block',//default input error message class

            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');

            },

            success: function (label) {
                label.closest('.form-group').removeClass('has-error');
            }
        });
</script>
}

@if (ViewBag.Error != null)
{


    <div class="alert alert-dismissible
              @if (ViewBag.Error == 0 || ViewBag.Error == 2) {<text>alert-warning</text>}
              @if (ViewBag.Error == 1) {<text>alert-success</text>}
              " role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @if (ViewBag.Error == 0)
        {<text>Lỗi, sai mật khẩu cũ</text>}
        @if (ViewBag.Error == 1)
        {<text>Thành công. </text>}
        @if (ViewBag.Error == 2)
        {<text>Không thay đổi, mật khẩu cũ và mới giống nhau</text>}
    </div>

}

<form class='form-horizontal' id='dangki' method='post'>

    <div id='nut' class='form-group'>
        <label for='username' class='col-sm-3 control-label hidden'>Tên đăng nhập</label>
        <div class='col-sm-6'>
            <input name='UID' type='text' class='form-control hidden' id='username' value='@LTWEB2.Helpers.CurrentContext.CurUser().TenDangNhap'>
        </div>
    </div>

    <div id='nut' class='form-group'>
        <label for='password' class='col-sm-3 control-label'>Mật khẩu cũ</label>
        <div class='col-sm-6'>
            <input name='PWD' type='password' class='form-control' placeholder='Mật khẩu cũ'>
        </div>
    </div>


    <div id='nut' class='form-group'>
        <label for='password' class='col-sm-3 control-label'>Mật khẩu mới</label>
        <div class='col-sm-6'>
            <input name='NEWPWD' type='password' class='form-control' placeholder='Mật khẩu mới'>
        </div>
    </div>


    <div id='nut' class='form-group'>
        <label for='repeatpassword' class='col-sm-3 control-label'>Nhập lại mật khẩu mới</label>
        <div class='col-sm-6'>
            <input name='repeatpassword' type='password' class='form-control' id='repeatpassword' placeholder='Nhập lại mật khẩu mới'>
        </div>
    </div>



    <div class='form-group'>
        <div class='col-sm-offset-9 col-sm-3'>
            <button class='btn btn-success' type='submit' id='submit'><i class="fa fa-check"></i> Xác nhận thay đổi </button>
        </div>
    </div>
</form>



