@model LTWEB2.Models.LoginModel

@section view_title{
    Đăng nhập
}
@if (ViewBag.Error != null)
{

    <div class="alert alert-dismissible alert-warning" role="alert">
             
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       
        @ViewBag.Error
       
    </div>

}

<form class='form-horizontal' method='post'>
    <div id='nut' class='form-group'>
        <label for='username' class='col-sm-3 control-label'>Tên đăng nhập</label>
        <div class='col-sm-6'>
            <input name='UID' type='text' class='form-control' id='username' placeholder='Username' value='@if (Model != null) {<text>@Model.UID</text>}'>
        </div>
    </div>

    <div id='nut' class='form-group'>
        <label for='password' class='col-sm-3 control-label'>Mật khẩu</label>
        <div class='col-sm-6'>
            <input name='PWD' type='password' class='form-control' id='password' placeholder='Password'>
        </div>
    </div>

    <div class='form-group'>
        <div class='col-sm-offset-9 col-sm-3'>
            <button class='btn btn-success' type='submit' id='submit'><i class="fa fa-check"></i> Signup </button>
        </div>
    </div>
</form>