@model LTWEB2.Models.LoginModel

@section view_title{
    Đăng nhập
}


@section js {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript">
    $('#dangki').validate({
        rules: {
            UID: {
                required: true,
                minlength: 5,
            },
            PWD: {
                required: true,
                minlength: 8,
            },

        },

        messages: {
            UID: {
                required: "Chưa nhập tên đăng nhập",
                minlength: jQuery.validator.format("Vui lòng nhập tối thiểu {0} kí tự")
            },
            PWD: {
                required: "Chưa nhập mật khẩu",
                minlength: jQuery.validator.format("Vui lòng nhập tối thiểu {0} kí tự")
            },
        },

            errorElement: 'span', //default input error message container
            errorClass: 'help-block',//default input error message class

            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');

            },

            success: function (label) {
                label.closest('.form-group').removeClass('has-error');
            }
        
    });
    </script>
}
@if (ViewBag.Error != null)
{

    <div class="alert alert-dismissible alert-warning" role="alert">
             
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       
        @ViewBag.Error
       
    </div>

}

<form class='form-horizontal' id='dangki' method='post'>
    <div  class='form-group'>
        <label for='username' class='col-sm-3 control-label'>Tên đăng nhập</label>
        <div class='col-sm-6'>
            <input name='UID' type='text' class='form-control' id='username' placeholder='Username' value='@if (Model != null) {<text>@Model.UID</text>}'>
        </div>
    </div>

    <div  class='form-group'>
        <label for='password' class='col-sm-3 control-label'>Mật khẩu</label>
        <div class='col-sm-6'>
            <input name='PWD' type='password' class='form-control' id='password' placeholder='Password'>
        </div>
    </div>

    <div  class='form-group'>
        
        <div class='col-sm-offset-3 col-sm-6'>
            @Html.CheckBoxFor(a=>a.Remember) Ghi nhớ
        </div>
        
    </div>

    <div class='form-group'>
        <div class='col-sm-offset-3 col-sm-3'>
            <button class='btn btn-success' type='submit' id='submit'><i class="fa fa-check"></i> Đăng nhập </button>
        </div>
    </div>
</form>