
@section view_title{
    Thông tin người dùng
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Tên đăng nhập</th>
            <th>Số điện Thoại</th>
            <th>Tên đầy đủ</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@LTWEB2.Helpers.CurrentContext.CurUser().TenDangNhap</td>
            <td>@LTWEB2.Helpers.CurrentContext.CurUser().SoDienThoai</td>
            <td>@LTWEB2.Helpers.CurrentContext.CurUser().TenDayDu</td>
            <td>@LTWEB2.Helpers.CurrentContext.CurUser().Email</td>
        </tr>
    </tbody>
    
</table>
<div class='col-sm-12'>
    <button class='btn btn' type='submit' id='submit'><i class="fa fa-check"></i> Sửa thông tin tài khoản </button>
</div>


























@*@section view_title{
    Thông tin người dùng
}
@section css{
    <link rel="stylesheet" type="text/css" href="http://www.prepbootstrap.com/Content/shieldui-lite/dist/css/light/all.min.css" />
    <style type="text/css">
        .sui-button-cell {
            text-align: center;
        }

        .sui-checkbox {
            font-size: 17px !important;
            padding-bottom: 4px !important;
        }

        .deleteButton img {
            margin-right: 3px;
            vertical-align: bottom;
        }

        .bigicon {
            color: #5CB85C;
            font-size: 20px;
        }
    </style>
}


<div class="col-md-10">
    <div class="panel panel-default">
        <div class="panel-body text-center">
            <div id="grid"></div>
        </div>
    </div>
</div>
@section js {
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="http://www.prepbootstrap.com/Content/shieldui-lite/dist/js/shieldui-lite-all.min.js"></script>
    <script type="text/javascript" src="http://www.prepbootstrap.com/Content/data/shortGridData.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#grid").shieldGrid({
                dataSource: {
                    data: gridData,
                    schema: {
                        fields: {
                            id: { path: "id", type: Number },
                            age: { path: "age", type: Number },
                            name: { path: "name", type: String },
                            company: { path: "company", type: String },
                            month: { path: "month", type: Date },
                            isActive: { path: "isActive", type: Boolean },
                            email: { path: "email", type: String },
                            transport: { path: "transport", type: String }
                        }
                    }
                },
                sorting: {
                    multiple: true
                },
                rowHover: false,
                columns: [
                    { field: "name", title: "Person Name", width: "120px" },
                    { field: "age", title: "Age", width: "80px" },
                    { field: "company", title: "Company Name" },
                    { field: "month", title: "Date of Birth", format: "{0:MM/dd/yyyy}", width: "120px" },
                    { field: "isActive", title: "Active" },
                    { field: "email", title: "Email Address", width: "250px" },
                    { field: "transport", title: "Custom Editor", width: "120px", editor: myCustomEditor },
                    {
                        width: "104px",
                        title: "Delete Column",
                        buttons: [
                            { cls: "deleteButton", commandName: "delete", caption: "<img src='http://www.prepbootstrap.com/Content/images/template/BootstrapEditableGrid/delete.png' /><span>Delete</span>" }
                        ]
                    }
                ],
                editing: {
                    enabled: true,
                    event: "click",
                    type: "cell",
                    confirmation: {
                        "delete": {
                            enabled: true,
                            template: function (item) {
                                return "Delete row with ID = " + item.id
                            }
                        }
                    }
                },
                events:
                {
                    getCustomEditorValue: function (e) {
                        e.value = $("#dropdown").swidget().value();
                        $("#dropdown").swidget().destroy();
                    }
                }
            });

            function myCustomEditor(cell, item) {
                $('<div id="dropdown"/>')
                    .appendTo(cell)
                    .shieldDropDown({
                        dataSource: {
                            data: ["motorbike", "car", "truck"]
                        },
                        value: !item["transport"] ? null : item["transport"].toString()
                    }).swidget().focus();
            }
        });
    </script>
}*@